/* [next]/internal/font/google/k2d_ad2002de.module.css [app-client] (css) */
@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../media/J7aRnpF2V0ErE5U6tLMS7JNKIjk-s.p.3db89724.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../media/J7aRnpF2V0ErE5UhtLMS7JNKIjk-s.22d714f7.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../media/J7aRnpF2V0ErE5UgtLMS7JNKIjk-s.9d70cdb3.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../media/J7aRnpF2V0ErE5UutLMS7JNK-s.b303ec73.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erv4Q5h5Y9xJlCGgAa-s.p.910a9962.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erv4Q5nJY9xJlCGgAa-s.c2a20fe1.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erv4Q5nZY9xJlCGgAa-s.563a471a.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erv4Q5k5Y9xJlCGg-s.349b51ef.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er24c5h5Y9xJlCGgAa-s.p.b00fc3fa.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er24c5nJY9xJlCGgAa-s.2b64bfcd.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er24c5nZY9xJlCGgAa-s.0aaf5787.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er24c5k5Y9xJlCGg-s.4bc740ff.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/J7aTnpF2V0EjZKUsvrQw7qNL-s.p.d483db8c.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/J7aTnpF2V0Ejf6UsvrQw7qNL-s.403b8059.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/J7aTnpF2V0EjfqUsvrQw7qNL-s.dc398dd8.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/J7aTnpF2V0EjcKUsvrQw7g-s.8bf888c6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erg4Y5h5Y9xJlCGgAa-s.p.4ff0c164.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erg4Y5nJY9xJlCGgAa-s.31fbad94.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erg4Y5nZY9xJlCGgAa-s.2f5d3a78.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/J7aenpF2V0Erg4Y5k5Y9xJlCGg-s.206cb7f8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/J7aenpF2V0Err4E5h5Y9xJlCGgAa-s.p.297db69a.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/J7aenpF2V0Err4E5nJY9xJlCGgAa-s.8bc7c033.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/J7aenpF2V0Err4E5nZY9xJlCGgAa-s.e454cdcd.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/J7aenpF2V0Err4E5k5Y9xJlCGg-s.70c1d24f.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/J7aenpF2V0Ery4A5h5Y9xJlCGgAa-s.p.6856c143.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/J7aenpF2V0Ery4A5nJY9xJlCGgAa-s.178e24f7.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/J7aenpF2V0Ery4A5nZY9xJlCGgAa-s.8eaa7e0a.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/J7aenpF2V0Ery4A5k5Y9xJlCGg-s.480b2fda.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er14M5h5Y9xJlCGgAa-s.p.009a13fc.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er14M5nJY9xJlCGgAa-s.15a4e2b6.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er14M5nZY9xJlCGgAa-s.32972c76.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: K2D;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/J7aenpF2V0Er14M5k5Y9xJlCGg-s.4696defa.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: K2D Fallback;
  src: local(Arial);
  ascent-override: 102.23%;
  descent-override: 24.58%;
  line-gap-override: 0.0%;
  size-adjust: 102.51%;
}

.k2d_ad2002de-module__SXdA9q__className {
  font-family: K2D, K2D Fallback;
  font-style: normal;
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_k2d_ad2002de_module_css_f9ee138c._.single.css.map*/